@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Road+Rage&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.road-rage-regular {
  font-family: "Road Rage", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: small;
  background-color: #f7f2de;
  background-image: linear-gradient(180deg, #f7f2de 0%, #d5cec3 76%);
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  justify-content: space-between;
}

.header {
  background-color: #d5cec3;
  background-image: linear-gradient(0deg, #d5cec3 0%, #f7f2de 55%, #d5cec3 100%);
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2px;
}
.header img {
  width: 20px;
  height: 1.25rem;
}

.contenedor-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  padding: 0px 12px 0px 12px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.375rem;
}

.search {
  display: flex;
  background-color: #F7F2DE;
  padding: 2px 10px 2px 10px;
  border-radius: 20px;
  margin: 6px;
  margin-left: 80px;
}
.search img {
  width: 15px;
  height: 15px;
}

.header-der {
  width: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.cuentas {
  display: flex;
  justify-content: right;
  font-weight: bolder;
}

.nav-bar {
  display: flex;
  /* gap: 20px; */
  list-style: none;
  justify-content: space-around;
}

.boton-nav {
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30px;
  width: 150px;
  border-radius: 10px;
  background-color: #b5aaa6;
  background-size: 800px;
}

.boton-text {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.625rem;
}

nav {
  display: flex;
  justify-content: space-around;
  /* padding: 10px 20px;
  margin: 0px 10px; */
  background-image: linear-gradient(to top, rgba(245, 246, 252, 0.04), #fffbe9), linear-gradient(to bottom, rgba(245, 246, 252, 0), #e4e3e0), url("../assets/img/background-nav.jpg");
  width: 100%;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  color: #e0e0e0;
  font-weight: bold;
}
nav ul li {
  margin: 20px;
}
nav ul li a:link,
nav ul li :visited,
nav ul li :hover,
nav ul li :active {
  color: black;
  text-decoration: none;
}

footer {
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  background-color: #DFCB7C;
  position: sticky;
  bottom: 0;
}
footer img {
  width: 15px;
  height: 15px;
}

.barra-contenedor {
  display: flex;
  border: 2px solid rgb(108, 102, 102);
  border-right: none;
  border-left: none;
  justify-content: space-around;
  height: 100%;
}

.barra-iconos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  line-height: 12px;
  gap: 0;
  /* padding: 25px */
  /* margin: 1.25rem; */
  width: 100%;
  height: 100%;
  background-color: #d5cec3;
  background-image: linear-gradient(0deg, #d5cec3 0%, #f7f2de 55%, #d5cec3 100%);
  /* border: 2px solid black */
}
.barra-iconos div {
  margin: 10px;
  display: flex;
}
.barra-iconos img {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 30px;
  height: 30px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.625rem;
}

.categorias {
  display: grid;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  grid-gap: 10 1.25rem;
  grid-template-columns: 3fr 3fr 3fr;
  grid-template-rows: 3fr 3fr;
  justify-content: center;
}

.card-categoria {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.card-categoria img {
  width: 300px;
  height: 150px;
  object-fit: cover;
  border-radius: 20px;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 10px 10px 30px #bebebe, -10px -10px 30px #ffffff;
  transition: all 300ms;
}
.card-categoria img:hover {
  transform: scale(1.15);
}
.card-categoria img:active {
  color: #666;
  box-shadow: 0px 0px 0px #c5c5c5, 0px 0px 0px #ffffff, inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}
.card-categoria p {
  position: absolute;
  bottom: 20px;
  left: 80px;
  font-family: "Road Rage", sans-serif;
  font-size: 40px;
  color: aliceblue;
  text-shadow: 2px 2px 3px black;
}

.boton-vm {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 3fr 3fr;
  gap: 2.5rem;
  align-items: center;
  justify-items: center;
  /* margin: 40px; */
}

.ubicacion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: var(--color-1); */
  background: rgb(213, 206, 195);
  background: linear-gradient(180deg, rgb(213, 206, 195) 0%, rgb(247, 242, 222) 30%);
}
.ubicacion h2 {
  margin: 80px;
}
.ubicacion img {
  width: 400px;
  height: 200px;
}
.ubicacion .ubicacion-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  padding-bottom: 30px;
  gap: 2.5rem;
}

.about, .ubicacion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about img, .ubicacion img {
  width: 400px;
  height: 200px;
}

.ubicacion {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: var(--color-1); */
  background: rgb(213, 206, 195);
  background: linear-gradient(180deg, rgb(213, 206, 195) 0%, rgb(247, 242, 222) 30%);
}
.ubicacion h2 {
  margin: 30px;
}

.ubicacion-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  padding-bottom: 30px;
  gap: 2.5rem;
}

.off {
  position: absolute;
  top: 20px;
  right: 20px;
}
.off img {
  width: 30px;
  height: 30px;
}

.card-container {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 3fr 3fr;
  gap: 2.5rem;
  align-items: center;
  justify-items: center;
  /* margin: 40px; */
}
.card-container .card {
  display: flex;
  justify-items: center;
  justify-content: space-evenly;
  align-items: center;
  width: 250px;
  height: 300px;
  background-color: beige;
  flex-direction: column;
  position: relative;
  border-radius: 20px;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 10px 10px 30px #bebebe, -10px -10px 30px #ffffff;
  transition: all 300ms;
  /* box-shadow: 5px 5px 5px 5px gray; */
}
.card-container .card:hover {
  transform: scale(1.15);
}
.card-container .card-img {
  width: 100%;
  height: 50%;
}
.card-container .card-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.card-container .card-contenido {
  text-align: center;
  justify-content: space-between;
}
.card-container .comprar {
  border: #242323;
  text-decoration: none;
  border-radius: 10px;
  width: 80px;
  height: 30px;
  margin-top: 10px;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}
.card-container .comprar a {
  text-decoration: none;
}
.card-container .comprar a:link,
.card-container .comprar :visited,
.card-container .comprar :hover,
.card-container .comprar :active {
  color: black;
  text-decoration: none;
}

.product {
  display: flex;
  margin: 10px;
  width: 100%;
  height: 500px;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
  /* margin-top: 40px; */
}

.title {
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 20px;
}

.producto-descripcion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-self: center;
  gap: 30px;
  width: 100%;
  height: 300px;
}

.producto-contenedor {
  grid-area: contenido;
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  gap: 10px;
  margin-bottom: 30px;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-areas: 
  "img2 img1 img1"
  "img3 img1 img1"
  "img4 img1 img1"
  ; */
}

.sugeridos {
  display: flex;
}

.precio {
  border-radius: 10px;
  background-color: #c5c5c5;
  width: 25%;
  display: flex;
  justify-content: center;
}

.down {
  display: flex;
  justify-content: space-around;
  grid: down;
  width: 15px;
  height: 15px;
}

.up {
  grid-area: up;
  width: 15px;
  height: 15px;
}

.img1 {
  grid-area: 1/2/4/4;
  width: 340px;
  height: 480px;
}

.img2 {
  grid-area: 1/1/2/2;
  width: 120px;
  height: 140px;
}

.img3 {
  grid-area: 2/1/3/2;
  width: 120px;
  height: 140px;
}

.img4 {
  grid-area: 3/1/4/2;
  width: 120px;
  height: 140px;
}

.descripcion {
  position: relative;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0.625rem;
}

.sugerencia {
  background-color: #b5aaa6;
  margin: 20px;
  padding: 20px;
  gap: 1.25rem;
}

.sugeridos {
  display: flex;
  width: 100%;
  height: 100px;
  /* margin: 10px; */
  justify-content: space-around;
  margin-bottom: 40px;
}
.sugeridos img {
  width: 60px;
  height: 80px;
}

.sug-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 0.625rem;
  transition: all 300ms;
}
.sug-1:hover {
  transform: scale(1.15);
}

.container {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 80px auto;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* Estilos del formulario */
form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input, textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

textarea {
  resize: vertical;
}

button {
  background-color: #b5aaa6;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #b5aaa6;
}

input:focus, textarea:focus {
  border-color: #b5aaa6;
  outline: none;
}

.mas {
  width: 15px;
  height: 15px;
}

.total {
  padding: 10px;
  font-weight: bold;
  background-color: #d5cec3;
  display: flex;
  justify-content: right;
  margin: 10px;
}

.carrito {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  gap: 0.5rem;
  background-color: #b5aaa6;
  margin: 10px;
  margin-right: 15px;
  padding: 15px;
}

.descripcion-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.productos-container {
  display: flex;
  flex-direction: row;
}

.carrito-producto {
  display: flex;
  gap: 20px;
  width: 80%;
}

.agregar-producto {
  width: 100%;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 0;
  margin: 10px;
  gap: 0.625rem;
}

.img-producto img {
  margin: 10px;
  width: 60px;
  height: 60px;
}

.descripcion-producto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.continuar-compra {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.boton-carrito {
  display: flex;
  gap: 0.625rem;
  justify-content: center;
  justify-items: center;
}
.boton-carrito a {
  display: flex;
  text-decoration: none;
  background-color: #bebebe;
  width: 60px;
  border-radius: 10px;
  justify-content: center;
  justify-items: center;
}

.boton-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.ver-mas {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #090909;
  text-decoration: none;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  /* box-shadow:
  6px 6px 12px #c5c5c5,
  -6px -6px 12px #ffffff; */
}

.ver-mas:active {
  color: #666;
  box-shadow: 0px 0px 0px #c5c5c5, 0px 0px 0px #ffffff, inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.tracking-in-contract {
  -webkit-animation: tracking-in-contract 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@media (max-width: 1024px) {
  .ubicacion-text {
    flex-direction: column-reverse;
  }
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  .card-categoria {
    justify-items: center;
    align-items: center;
  }
  .card-img img {
    width: 75%;
    height: 75%;
    object-fit: contain;
  }
  .img1 {
    grid-area: 1/1/3/4;
  }
  .img2 {
    grid-area: 3/1/4/2;
  }
  .img3 {
    grid-area: 3/2/4/3;
  }
  .img4 {
    grid-area: 3/3/4/4;
  }
  .img1 {
    width: 240px;
    height: 320px;
    justify-self: center;
  }
  .img2,
  .img3,
  .img4 {
    justify-self: center;
  }
  .product {
    flex-direction: column;
    align-items: center;
    justify-items: center;
    align-content: center;
    height: 600px;
    gap: 1.875rem;
  }
  .product-descripcion {
    margin-bottom: 100px;
  }
  .sugerencia {
    margin-top: 400px;
  }
}
@media (min-width: 1020px) {
  .about, .ubicacion {
    margin-top: 40px;
  }
}
@media (max-width: 580px) {
  .ubicacion-text img {
    width: 60%;
    height: 60%;
  }
  .ubicacion-text iframe {
    width: 60%;
    height: 60%;
  }
  .nav-bar {
    flex-direction: column;
  }
  .card-categoria {
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
  .total {
    justify-content: center;
    align-items: center;
  }
  .container {
    padding: 15px;
  }
  h1 {
    font-size: 24px;
  }
  input, textarea, button {
    font-size: 14px;
  }
  button {
    padding: 12px;
  }
}

/*# sourceMappingURL=styles.css.map */
