@media (max-width: 580px) {
    .ubicacion-text {
        img{
        width: 60%;
        height: 60%;}
        iframe{
        width: 60%;
        height: 60%;
        }
    }
    

    .nav-bar {
        flex-direction: column;
    }

    .card-categoria {
        justify-content: center;
        justify-items: center;
        align-items: center;
    }

    .total{
        justify-content: center;
        align-items: center;
    }
    .container {
        padding: 15px;
    }

    h1 {
        font-size: 24px;
    }

    input, textarea, button {
        font-size: 14px;
    }

    button {
        padding: 12px;
    }
}