
body {
    font-family: "Poppins", sans-serif;
    font-size: small;
    background-color: #f7f2de;
    background-image: linear-gradient(180deg, #f7f2de 0%, #d5cec3 76%);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    justify-content: space-between;
}